
<div class="row">
  <div class="col d-flex justify-content-between mt-5">
    <div class="d-flex flex-column justify-content-center">
      <h2>Admin Dashboard</h2>
    </div>
    <div>
      <nav class="d-flex">
        <div class="m-3">
          <%= link_to "Admin Dashboard", admin_dashboard_index_path %>
        </div>
        <div class="m-3">
          <%= link_to "Admin Invoices", admin_invoices_path %>
        </div>
        <div class="m-3">
          <%= link_to "Admin Merchants", admin_merchants_path %>
        </div>
      </div>
    </nav>
  </div>
</div>
