<footer class="row">
  <div class="col">
    <hr>
    <%= mail_to "gabriel.c.nunez@gmail.com" %>
    <%= mail_to "ajpulzone@gmail.com" %>
    <%= mail_to "michaeldavidmarchand@gmail.com" %>
  </div>
</footer>
