<div class="row">
  <div class="col d-flex justify-content-around mt-5">
        <%= link_to 'See All Merchants', merchants_path, class: 'btn btn-primary' %>
        <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Admin Dashboard', admin_dashboard_index_path, class: 'btn btn-primary' %>
  </div>
</div>