<div class="row flex-column">
  <div class="col">
    <%= sanitize Kramdown::Document.new(@hello_world).to_html  %>
  </div>
  <div class="col">
    chart stuff
    <%= bar_chart Item.group(:merchant_id).count, title: "number of items per merchant ID", xtitle: "# of items", ytitle: "merchant id", width: "1000px", height: "1000px" %>
  </div>
</div>
