<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>Percentage</th>
        <th>Quantity Threshold</th>
      </tr>
      <tr>
        <td><%= @discount.percentage %></td>
        <td><%= @discount.threshold %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= link_to 'edit discount', edit_merchant_discount_path(@merchant.id, @discount.id), {class: 'btn btn-primary'} %>
    <%= link_to 'Back to Merchant discounts', merchant_discounts_path(params[:merchant_id]), {class: 'btn btn-primary'} %>
  </div>
</div>
