/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';


// merchants index page grid
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3em;
  row-gap: 2em;
}

.grid-item {
  grid-column: span 1;
  grid-row: span 1;
  border: 1px solid rgba(black, .15);
  box-shadow: 0 .5rem 1rem rgba(black, .15);
  padding: 1em;
}

.grid-item:hover {
 box-shadow: 1 2rem 2rem rgba(black, .5);
 transform:  translateY(-5px);
}

footer {
  min-height: 200px;
  margin-top: 50px !important;
}